body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #292626;
    color: #fff;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 4px 0;
}


@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 50px;
        left: -100%;
        flex-direction: column;
        width: 100%;
        background: #333;
        transition: left 0.3s ease-in-out;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .nav-links a {
        font-size: 1.2em;
    }

    .nav-links.active {
        left: 0;
    }
}
