
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #292626;
    color: #fff;
    padding: 10px 20px;
}

nav {
    background: #292626;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 60px;
    height: 60px;
}

.logo {
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}

input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}

p#resultado-paridad,
p#resultado-mayor-edad,
p#resultado-signo,
p#resultado-bisiesto,
p#resultado-mayor {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
}
